.bg-thruum {
    background-color: #e5ae67;
}

.border-thruum,
.border-Thruum {
    border-color: #e5ae67 !important;
}

.thruum-color {
    color: #e5ae67;
}

.bg-thruum-50 {
    background-color: #e5ae673d;
}
